@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font: 1.5rem "Nunito" ,san-serif;
    background-color: rgb(129, 106, 228);
    background-image: radial-gradient(rgb(213, 120, 231),
     rgb(199, 202, 168));
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     min-width: 400px;
     
}

footer,header{
    background-color: rgba(135, 119, 161, 0.568);
    position:sticky;
    text-align: center;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}

header{
    top: 0;
    margin-bottom: 1rem;
}
nav a{
    justify-content: space-evenly;
    
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

nav a{
    color: purple;
}

.card{
    scroll-margin-top: 8rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    margin:1rem ;
    padding: 3rem;
    border: 5px double rgba(214, 83, 214, 0.61);
    border-radius: 15px;
    
    
}

 img{
    border: 15px double rgba(214, 83, 214, 0.61) ;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

footer{
    bottom: 0;
    font-weight: bold;
}
figcaption{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

p{
    font-weight: bold;
}
